html {
  height: 0px;
}
body {
  margin-top: 0px;
}
#body1 {
  background-image: url("../images/bg.gif");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}
#body2 {
  overflow-y: hidden;
}
#iframe {
  top: 80px;
  width: 100%;
  position: absolute;
  height: 100%;
  border: none;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  left: 0px;
  position: absolute;
}
#url {
  width: 395px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  padding: 6px 8px;
}
#button {
  width: 395px;
/* text-shadow: 0 1px rgba(255, 255, 255, 0.5)*/
  -webkit-appearance: none;
  -webkit-background-origin: padding-box;
  -webkit-box-align: center;
  -webkit-box-shadow: rgba(255,255,255,0.10) 0px 0px 0px 1px inset, rgba(255,255,255,0.18) 0px 1px 0px 0px, #398ade 0px 1px 0px 0px inset;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #3f92e3, #75bffb);
  background-origin: padding-box;
  border-bottom-color: #347fc6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #347fc6;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #347fc6;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #347fc6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255,255,255,0.10) 0px 0px 0px 1px inset, rgba(255,255,255,0.18) 0px 1px 0px 0px, #398ade 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 34px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #fff;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 4px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 4px;
  text-align: center;
  text-indent: 0px;
  text-shadow: rgba(15,89,153,0.50) 0px -1px 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: pre;
  word-spacing: 0px;
  background: #75bffb;
  background-image: -moz-linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f92e3), color-stop(100%, #75bffb));
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
  -o-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
  -moz-background-origin: border;
  -webkit-background-origin: border;
  -o-background-origin: border-box;
  -ms-background-origin: border-box;
  -khtml-background-origin: border-box;
  background-origin: border-box;
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.20), 0 1px rgba(255,255,255,0.18), inset 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.20), 0 1px rgba(255,255,255,0.18), inset 0 1px #fff;
  -o-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.20), 0 1px rgba(255,255,255,0.18), inset 0 1px #fff;
  inset: 0 0 0 1px rgba(255,255,255,0.20), 0 1px rgba(255,255,255,0.18), inset 0 1px #fff;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#button:hover {
  background: #53a5ef;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82c8fd), color-stop(50%, #6bbafc), color-stop(51%, #65b4f7), color-stop(100%, #53a5ef));
  background: -webkit-linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
  background: -moz-linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
  background: -o-linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
  background: -ms-linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
  background: linear-gradient(#82c8fd, #6bbafc 50%, #65b4f7 51%, #53a5ef);
}
#button:active {
  background: #75bffb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f92e3), color-stop(100%, #75bffb));
  background: -webkit-linear-gradient(#3f92e3, #75bffb);
  background: -moz-linear-gradient(#3f92e3, #75bffb);
  background: -o-linear-gradient(#3f92e3, #75bffb);
  background: -ms-linear-gradient(#3f92e3, #75bffb);
  background: linear-gradient(#3f92e3, #75bffb);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
  -o-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #398ade;
}
#button:focus {
  background: #37a8f9;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bcafd), color-stop(50%, #49bbfc), color-stop(51%, #44b5fa), color-stop(100%, #37a8f9));
  background: -webkit-linear-gradient(#5bcafd, #49bbfc 50%, #44b5fa 51%, #37a8f9);
  background: -moz-linear-gradient(#5bcafd, #49bbfc 50%, #44b5fa 51%, #37a8f9);
  background: -o-linear-gradient(#5bcafd, #49bbfc 50%, #44b5fa 51%, #37a8f9);
  background: -ms-linear-gradient(#5bcafd, #49bbfc 50%, #44b5fa 51%, #37a8f9);
  background: linear-gradient(#5bcafd, #49bbfc 50%, #44b5fa 51%, #37a8f9);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #7ceafe;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #7ceafe;
  -o-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #7ceafe;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.10), 0 1px rgba(255,255,255,0.18), inset 0 1px #7ceafe;
}
#button:focus:active {
  background: #50c0f9;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d96f7), color-stop(100%, #50c0f9));
  background: -webkit-linear-gradient(#2d96f7, #50c0f9);
  background: -moz-linear-gradient(#2d96f7, #50c0f9);
  background: -o-linear-gradient(#2d96f7, #50c0f9);
  background: -ms-linear-gradient(#2d96f7, #50c0f9);
  background: linear-gradient(#2d96f7, #50c0f9);
}
.focusout {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0,0,0,0.20) 0px 2px 2px -1px inset, rgba(255,255,255,0.30) 0px 1px 0px 0px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  border-bottom-color: #bdbdbd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #aeaeae;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #aeaeae;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #929293;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0,0,0,0.20) 0px 2px 2px -1px inset, rgba(255,255,255,0.30) 0px 1px 0px 0px;
  box-sizing: border-box;
  color: #838b92;
  cursor: auto;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 34px;
  left: 0px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #454a4e;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
/*position: absolute*/
  text-align: -webkit-auto;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  top: 0px;
  vertical-align: baseline;
  word-spacing: 0px;
}
.focus {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(104,189,244,0.90) 0px 0px 4px 0px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  border-bottom-color: rgba(104,189,244,0.90);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(104,189,244,0.90);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(104,189,244,0.90);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(104,189,244,0.90);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(104,189,244,0.90) 0px 0px 4px 0px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.00) 0;
  cursor: auto;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 34px;
  left: 0px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #454a4e;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
/*position: absolute */
  text-align: -webkit-auto;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  top: 0px;
  vertical-align: baseline;
  word-spacing: 0px;
}
#top {
  background-image: url("../images/page.png");
  display: inline-block;
  position: absolute;
  height: 80px;
  width: 100%;
  border: none;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  left: 0px;
}
#main {
  left: 50%;
  margin-left: -240px;
  top: 10px;
  position: absolute;
/* visibility: hidden */
}
#maintop,
#mainbottom {
  -webkit-box-shadow: rgba(0,0,0,0.50) 0px 1px 4px 0px;
  box-shadow: rgba(0,0,0,0.50) 0px 1px 4px 0px;
  background-image: url("../images/page.png");
  width: 400px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}
#mainbottom {
  height: 180px;
}
.text2 {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #41494f;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-shadow: rgba(255,255,255,0.50) 0px 1px 0px;
}
@font-face {
  font-family: "agb";
  src: url("../fonts/b.eot");
  src: url("../fonts/b.eot?#iefix") format("eot"), url("../fonts/b.woff") format("woff"), url("../fonts/b.ttf") format("truetype"), url("../fonts/b.svgz#agb") format("svg"), url("../fonts/b.svg#agb") format("svg");
  font-weight: normal;
  font-style: normal;
}
.text1 {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  display: block;
  font-family: agb, 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
  margin-bottom: 68px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-shadow: rgba(255,255,255,0.50) 0px 1px 0px;
}
.text3 {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #41494f;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-shadow: rgba(255,255,255,0.50) 0px 1px 0px;
}
.text4 {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #818486;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-shadow: rgba(255,255,255,0.50) 0px 1px 0px;
}
#safeBrowsingHeader {
  position: absolute;
  padding-top: 10px;
  left: 195px;
}
#mainContainer {
  height: 80px;
}
#googlePic {
  position: absolute;
}
#topText {
  position: absolute;
  left: 137px;
  width: 300px;
  height: 80px;
}
#zyx {
  position: absolute;
  left: 437px;
  top: 0px;
}
#zyxs {
  height: 80px;
}
#closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
}
#preloader {
  position: relative;
  left: 360px;
  top: -30px;
  display: none;
}
#notification {
  position: absolute;
  top: 100px;
}
